h1 {
    text-align: center;
    text-decoration: underline;
}

table tr.done td:not(:last-child) {
    text-decoration: line-through;
}

form, table {
    margin: 16px 0px;
}

.ng-valid[required], .ng-valid.required  {
    border-left: 5px solid #42A948; /* green */
  }
  
.ng-invalid:not(form)  {
    border-left: 5px solid #a94442; /* red */
}

input[type="checkbox"] {
    vertical-align: middle;
}